<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>桌球大赛数据上传</title>
</head>
<body>
  <input id="file" type="file"/>
  <button>
      上传
  </button>
  <script src="/introduce/jQuery-3.1.1.js"></script>
  <script>
     $('button').click(function(){
         var formData=new FormData();
         formData.append('img',$('#file')[0].files[0]);
         $.ajax({
             data: formData,
             url: '/table/upload_table_js',
             type:"post",
             dataType: 'JSON',
             contentType: false,    //不可缺
             processData: false,    //不可缺
             success: function(data){

              alert(data.message);

             },
             error: function(err){
                 alert('error: ' + err);

             }
         });
     });
console.log({fsf:"d"});
  </script>
</body>
</html>