<section class="content-header">
  <h1>
   小麦
    <small>今日订餐统计</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>


<section class="content container-fluid">


<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">今日应收{{lucky_all_money+sum_price}}</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <div class="box-footer no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li><a class=" text-red">
        刮刮卡
        <span class="pull-right"><i class="fa fa-angle-down"></i> {{lucky_all_money}}</span></a>
      </li>

      <li><a class="text-blue" >
        订餐
        <span class="pull-right "><i class="fa fa-angle-left"></i> {{sum_price}}</span></a>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">订餐统计</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body" style="">
    <ul class="products-list product-list-in-box">
      <li class="item" *ngFor="let item of today_list_all  let i=index">
        <div class="product-img">
          <img src="{{item.info.img}}" alt="Product Image">
        </div>
        <div class="product-info">
          <a href="javascript:void(0)" class="product-title">{{item.info.name}}
            <span class="label label-warning pull-right">{{item.sum_num}}</span></a>
                    <span class="product-description">
                          {{item.info.kind}}
                          单价：{{item.info.price}}
                        </span>
        </div>
      </li>

      <!-- /.item -->
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center" style="">
    <!-- <a href="javascript:void(0)" class="uppercase">View All Products</a>-->
  </div>
  <!-- /.box-footer -->
</div>


<div class="box">
  <div class="box-header">
    <h3 class="box-title">订餐人员详细信息</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>姓名</th>
        <th>订餐时间</th>
        <th>订餐信息</th>
        <th>需补差价</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of allList  let i=index">
        <td>{{i+1}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.create_time|date:"MM/dd HH:mm"}}</td>
        <td>
          <div *ngFor="let item2 of item.dinner_list.food_list; ">
            <div>{{item2.list.name}}（¥{{item2.list.price}}）</div>
            <div>{{item2.num}}</div>
          </div>
        </td>
        <td>{{(item.dinner_list.sum_price-20<0?0:item.dinner_list.sum_price-20)}}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
</section>



