<section class="content-header">
  <h1>
   小麦
    <small>今日订餐信息</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>


<section class="content container-fluid">



  <div class="row gh-editor">
    <div class="col-md-6 col-xs-6 "><button (click)="finishDinner($event)" type="button" class="btn btn-block btn-danger">结束订餐</button></div>
    <div class="col-md-6 col-xs-6"><button (click)="startDinner($event)" type="button" class="btn btn-block btn-primary">{{start_txt}}</button></div>
  </div>
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <!--class="active"-->
      <li  *ngFor="let item of menuTitle;let i=index" [ngClass]="{active:item.kind==currentKind}" >
        <a  data-toggle="tab" (click)="selectMenu(item)">{{item.name}}</a>
      </li>

    </ul>
    <div class="tab-content">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">当前选择的菜单</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody><tr>
              <th style="width: 10px">#</th>
              <th>菜名</th>
              <th>价格</th>
              <th style="width:60px"></th>
            </tr>
            <tr *ngFor="let item of allList | dinnerListFilter:currentKind; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>
                <span class="price">¥ {{item.price}}</span>
                <!--<div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                </div>-->
              </td>
              <td><span class="label label-success">编辑</span><!-- <span class="label label-danger">删除</span>--></td>
            </tr>

            </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.tab-content -->
  </div>

</section>
